
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" >
                <div class="justify-content-center">
                    <img class="rounded mx-auto d-block" src="./assets/img/burger-img.png" alt="a picture of YUMMY burger !">

                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>Eat-Da-burger !</h1>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item active" id="list-burger-title" >List Of Burgers </li>
                    {{#each burgers}}   
                    {{#unless this.devoured}}                    
                    <li class="list-group-item">{{this.id}} . {{this.burger_name}}<button type="button" id="{{this.id}}"  class="btn btn-outline-danger btn-sm float-right devour">Devour it !</button></li>                    
			  		{{/unless}}
				    {{/each}}
                </ul>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <form method="post" action="/burgers/create">    
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-dark">Submit</button>                      
                        </div>
                        <textarea class="form-control" name="burgerinput" aria-label="With textarea" maxlength = "25" minlength = "3" placeholder="Burger name(max 25 Character)"></textarea>
                    </div>
                </form>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item active" id="list-burger-title">Burgers have been Devoured</li>
                    {{#each burgers}}               
                    {{#if this.devoured}}                    
                    <li class="list-group-item">{{this.id}} . {{this.burger_name}}</li>                    		  		
				    {{/if}}
                    {{/each}}
                </ul>

            </div>




        </div>       
        
        
        
        </div>

<script>
    $(document).ready(function(){
        $(".devour").on("click",function(){
            let id =$(this).attr("id");            
            console.log("id:",id);
            $.ajax({
                 method: "PUT",
                  url: "/burgers/devoured/"+id
                  }).then(function(data) {
                    console.log(data);                    
                  
                    });
        });

    });
</script>